.outfittr-garment-image {
  padding:5px;
  border:1px solid darkgray;
  margin-right:5px;
  border-radius:2px;
}

.outfittr-garment-image:hover {
  border:1px solid deepskyblue;
  cursor: pointer;
}

.selected {
  border:1px solid dodgerblue;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.outfittr-outfit {
  position:fixed;
  z-index:4;
  right:0;
  bottom:0;
  width:224px;
}

.outfittr-introduction {
  position:fixed;
  z-index: 4;
  right:0;
  top:0;
  width:224px;
}

.outfittr-loading {
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}
