
<mat-card *ngIf="selectedOutfit()" class="outfittr-outfit">
  <mat-card-header>
    <mat-card-title>Current Created Outfit</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="randomWardrobe.top[outfitSelected.top].imageSource" alt="Top garment">
  <img mat-card-image [src]="randomWardrobe.bottom[outfitSelected.bottom].imageSource" alt="Bottom garment">
</mat-card>
<div *ngIf="loading" class="outfittr-loading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<mat-card *ngIf="!loading">
  <mat-card-header>
    <mat-card-title>Before You Begin</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Before you begin the survey, please read the following information carefully
    </p>
    <p>
      A "formality value" is a whole number between 1 and 10 indicative of the formality of an occasion (eg. 1: Day around the house, 3: Casual date, 5: Business casual, 7: Black tie, and 10: White tie)
    </p>
    <p>
      Assume when building and rating the outfits in the following
      sections that the environment is as follows:
    </p>
      <table>
        <tr>
          <td>Event Formality:</td>
          <td><b><u>{{submission.formality}}</u></b></td>
        </tr>
        <tr>
          <td>Temperature:</td>
          <td><b><u>{{temperatureFactors[submission.temperature]}}</u></b></td>
        </tr>
        <tr>
          <td>Weather:</td>
          <td><b><u>{{weatherFactors[submission.weather]}}</u></b></td>
        </tr>
        <tr>
          <td>Season:</td>
          <td><b><u>{{seasonFactors[submission.season]}}</u></b></td>
        </tr>
      </table>
  </mat-card-content>
</mat-card>
<mat-vertical-stepper *ngIf="!loading" [linear]="true" #stepper>
  <mat-step [stepControl]="demographicFormGroup">
    <form [formGroup]="demographicFormGroup">
      <ng-template matStepLabel>Your Demographic Information</ng-template>
      <mat-form-field>
        <mat-label>Sex</mat-label>
        <mat-select formControlName="sexCtrl">
          <mat-option *ngFor="let option of sexOptions; index as index" [value]="index" required>{{option}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>State</mat-label>
        <mat-select formControlName="stateCtrl">
          <mat-option *ngFor="let state of states; index as index" [value]="index" required>{{state}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="outfitFormGroup">
    <form [formGroup]="outfitFormGroup">
      <ng-template matStepLabel>Observe a Random Outfit</ng-template>
      <div *ngFor="let key of randomOutfitKeys; index as index">
        <h1>{{key}}</h1>
        <img [src]="randomOutfit[key][0].imageSource" alt="garment image"/>
      </div>
      <h2>Rate the Random Outfit</h2>
      <mat-radio-group formControlName="randomRateCtrl" required>
        <mat-radio-button *ngFor="let number of ratingClass;" [value]="number">{{number}}</mat-radio-button>
      </mat-radio-group>
      <div>
        <button mat-button matStepperPrevious>Previous</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="wardrobeFormGroup">
    <form [formGroup]="wardrobeFormGroup">
      <ng-template matStepLabel>Observe a Random Wardrobe</ng-template>
      <div *ngFor="let type of randomWardrobeKeys;">
        <h2>{{type}}</h2>
        <div>
          <img *ngFor="let article of randomWardrobe[type]; index as index" [ngClass]="{'outfittr-garment-image': true, 'selected': isSelected(index, type)}" [src]="article.imageSource" [id]="type + index" (click)="selectArticle(index, type)" alt="garment image"/>
        </div>
      </div>
      <h2>Rate your Outfit</h2>
      <mat-radio-group formControlName="wardrobeRateCtrl">
        <mat-radio-button *ngFor="let number of ratingClass;" [value]="number">{{number}}</mat-radio-button>
      </mat-radio-group>
      <div>
        <button mat-button matStepperPrevious>Previous</button>
        <button mat-button (click)="submit(stepper)">Submit</button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>
